body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.slider-container {
    position: relative;
    width: 80%;
    margin-top:110px;
    margin-left:auto;
    margin-right: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
}

img{
    width:100%;
    max-width:80%px;
    height: 400px;
    object-fit: cover;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
